@import "tailwindcss";

html, body {
  background-color: #09090b !important; /* zinc-950 */
  color: #f4f4f5;
}
/* Delete or comment out anything like this */
@media (prefers-color-scheme: dark) {
  :root {
    color: #171717;
    background-color: #ffffff;
  }
}